
.cart-summary {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: Arial, sans-serif;


  &__column {
    display: flex;
    flex-direction: column;
  }

  &__column--start {
    text-align: left;
  }

  &__column--end {
    text-align: right;
  }

  &__label {
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    color: #333;
  }

  &__value {
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
  }

  &__value--highlight {
    color: #dc1528;
  }
}
